streamlit
scikit-learn
spacy
sentence-transformers
pandas
numpy
pdfplumber
PyPDF2
python-docx
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
python-dotenv
google-genai
plotly